<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/admincss")
        @Scripts.Render("~/bundles/modernizr")

        @RenderSection("head", required: false)
    </head>
    <body>
		<div class="container body-content">
			@RenderBody()
		</div>
			@Scripts.Render("~/bundles/jquery")
			@Scripts.Render("~/bundles/bootstrap")
			@RenderSection("scripts", required: false)
</body>
</html>
