@model Mirutrading.Infrastructure.PagedCollection<Mirutrading.Application.ViewModel.Admin.ProductRequest>
@{
    ViewBag.Title = "产品管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a class="add_product">添加产品</a>
<table class="table table-striped table-condensed table-hover">
	<thead>
		<tr><th>类型</th><th>名称</th><th>价格</th><th>链接</th><th>操作</th></tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Items)
		{
			<tr id="@item._id"><td class="item_type">@item.Type</td><td class="item_name">@item.Name</td><td class="item_price">@item.Price</td><td class="item_link">@item.LinkUrl</td>
				<td><a class="modify_product" href="javascript:void();">修改</a>&nbsp;&nbsp;<a class="delete_product" href="javascript:void();">删除</a>
					&nbsp;&nbsp;<a class="go_image" href="javascript:void();">图片</a></td></tr>
		}
	</tbody>
</table>

<div style="float:right">
	@for (int i = 1; i <= Model.PageCount; i++)
	{
		if (i == Model.PageIndex)
		{
			<button type="button" class="btn btn-primary active">@i</button><span>&nbsp;</span>
		}
		else
		{
			<button type="button" class="btn btn-default pageBtn">@i</button><span>&nbsp;</span>
		}
	}
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" purpose="add">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">产品添加</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal">
					<div class="form-group">
						<input id="add_modify_id" type="hidden" />
						<label class="col-sm-2 control-label">类型</label>
						<div class="col-sm-10">
							<select id="add_modify_type">
								<option value="1" selected="selected">文胸</option>
								<option value="2">内裤</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">名称</label>
						<div class="col-sm-10">
							<input id="add_modify_name" type="text" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">价格</label>
						<div class="col-sm-10">
							<input id="add_modify_price" type="text" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">链接</label>
						<div class="col-sm-10">
							<input id="add_modify_link" type="text" class="form-control" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button id="add_modify_btn" type="button" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script src="~/Scripts/Admin/admin_index.js"></script>
}

